#zapper_auto_rewards { width: 200px; position: absolute; height: 100px; right: 0; top: 0; z-index: 100; }
#zapper_auto_rewards.notify { width: 100%; }
#zapper_auto_rewards.notify.success { background-color: #1ba1e2; color: #ffffff; }
#zapper_auto_rewards.notify { display: block; margin: 0.3125rem; padding: 0.625rem; min-width: 200px; cursor: default; max-width: 300px; position: relative; }
#zapper_auto_rewards.notify.success .notify-closer:hover { background-color: #59cde2; } 
#zapper_auto_rewards.notify.success .notify-closer { background-color: #1ba1e2; color: #ffffff; }
#zapper_auto_rewards.notify .notify-closer {
	position: absolute;
	height: 1rem;
	width: 1rem;
	text-align: center;
	vertical-align: middle;
	font-size: 1rem;
	font-weight: normal;
	padding: 0 0 0.625rem 0;
	z-index: 3;
	outline: none;
	cursor: pointer;
	background-color: #ffffff;
	color: #777777;
	top: 0.25rem;
	right: 0.25rem;
}
#zapper_auto_rewards.notify .notify-title { font-weight: 500; font-size: 1rem; }
#zapper_auto_rewards.notify .notify-text { font-size: .875rem; }
#zapper_auto_rewards.notify .notify-title, .notify .notify-text { display: block; margin-right: 20px; }
